/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a,
ul {
  margin: 0;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--main-color);
  margin-top: 1em;
}

.header-nav a {
  padding: 1em 0;
}

.header-nav a:last-child {
  margin-left: 3em;
}

.header-nav a:hover {
  color: var(--main-color);
  border-top: 1px solid var(--main-color);
}

@media (min-width: 319.98px) and (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  header > h1 {
    margin-bottom: 1em;
  }

  .header-nav {
    display: flex;
    width: 100%;
    text-align: center;
  }

  .header-nav a {
    flex: 1;
  }

  .header-nav a:last-child {
    margin-left: 0;
  }

  .header-nav a:hover {
    border-top: none;
    border-bottom: 1px solid var(--main-color);
  }
}

/****** Search Bar ***********/
.search-bar-div {
  margin-top: 2em;
}

.search-bar-div > h2,
p {
  margin-bottom: 0.25em;
}

.search-bar {
  display: flex;
  margin: 1.5em 0;
}

.search-bar i:nth-child(1) {
  color: black;
  background-color: var(--main-bg-color);
  padding: 1em;
  border-radius: 10px 0px 0px 10px;
}

.search-bar i:nth-child(3) {
  display: none;
  color: white;
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 0px 10px 10px 0px;
}

.search-bar input {
  border: 0.5px solid var(--main-bg-color);
  font-weight: bold;
  text-align: center;
}

.search-bar button {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 1em;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

@media (min-width: 319.98px) and (max-width: 767.98px) {
  .search-bar-div {
    margin: 1em 1em 2em 1em;
  }

  .search-bar-div > h2 {
    font-size: 18px;
  }

  .search-bar-div p {
    font-size: 14px;
  }

  .search-bar i:nth-child(3) {
    display: block;
  }

  .search-bar button {
    display: none;
  }
}

/****** Filters ***********/
.filters-div {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.filters-div > span {
  font-weight: bold;
  margin-right: 1em;
}

.filters i {
  margin-right: 5px;
}

.filters button {
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 15px;
  margin-right: 1em;
}

.filters button:hover {
  background-color: var(--filter-bg-color);
}

.filters-information {
  margin-bottom: 2em;
}

@media (min-width: 319.98px) and (max-width: 767.98px) {
  .filters-div {
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 0 1em 0;
  }

  .filters-div > span {
    margin: 0 0 1em 1em;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
  }

  .filters button {
    margin: 0 1em 1em 0;
  }

  .filters-information {
    margin: 0 0 2em 1em;
  }
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hébergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-showmore {
  font-weight: bold;
}

.hebergements-title {
  margin-bottom: 1.5em;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards a {
  width: 30%;
  margin: 0px 0px 2em 0px;
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-informations {
  margin: 5px 0 5px 10px;
}

.card-informations p {
  margin-top: 5px;
}

.hebergements-cards .card-rating {
  margin: 0px 0px 5px 10px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********** Activites ***********/
.activites {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 0px 20px;
}

.activites-title {
  margin-bottom: 1.5em;
}

.activites-wrap {
  display: flex;
  justify-content: flex-start;
}

.activites-card {
  width: 25%;
  margin-right: 2em;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-card:nth-child(4) {
  margin-right: 0;
}

.activites-wrap img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-card h3 {
  padding: 0;
  margin: 1em;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .activites-card img {
    height: 175px;
  }

  .activites-card h3 {
    font-size: 14px;
  }
}

@media (min-width: 319.98px) and (max-width: 767.98px) {
  .activites-wrap {
    flex-direction: column;
  }

  .activites-card {
    width: 100%;
    margin: 0 0 1em 0;
  }

  .activites-card img {
    height: 125px;
  }

  .activites-card h3 {
    font-size: 14px;
  }
}
/*********** Footer ***********/
footer {
  background-color: var(--main-bg-color);
  margin-top: 3em;
}

footer nav {
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 0;
}

footer nav ul:nth-child(1),
footer nav ul:nth-child(2) {
  width: 25%;
}

footer nav ul:nth-child(3) {
  width: 50%;
}

footer nav ul li:first-child {
  font-weight: bold;
}

footer nav ul li {
  margin-bottom: 1em;
}

@media (min-width: 319.98px) and (max-width: 767.98px) {
  footer nav {
    flex-direction: column;
  }

  footer nav ul {
    margin-bottom: 1em;
  }

  footer nav ul:nth-child(3) {
    margin-bottom: 0;
  }

  footer nav ul:nth-child(1),
  footer nav ul:nth-child(2),
  footer nav ul:nth-child(3) {
    width: 100%;
  }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1023.98px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 319.98px) and (max-width: 767.98px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements-and-populaires section {
    background-color: white;
    border-radius: 0;
    padding: 1em;
    box-sizing: border-box;
  }

  .hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
    margin-top: 0;
  }

  .hebergements {
    width: 100%;
    order: 2;
  }

  .hebergements-cards a {
    width: 100%;
    margin: 0 0 1em 0;
  }

  .hebergements-title {
    margin: 1em 0;
  }

  .populaires {
    order: 1;
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 1em;
  }

  .populaires-title {
    margin: 0.5em 0 0 0;
  }

  .section-title {
    font-size: 20px;
  }
}
